<?php

// LDAP Configuration to test (default Apache Directory Server)
define('LDAP_HOST', 'localhost');
define('LDAP_PORT', 10389);
define('LDAP_USER', 'uid=admin,ou=system');
define('LDAP_PASSWORD', 'secret');

// Bad Ldap to test error
define('LDAP_BAD_HOST', 'localhost');
define('LDAP_BAD_PORT', 389);
define('LDAP_BAD_USER', 'uid=lul,ou=system');
define('LDAP_BAD_PASSWORD', 'lolilol');
?>